<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,,user-scalable=no">
    <title>bookitem</title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css" />
</head>

<body>
    <div class="weui-media-box weui-media-box_text">
    	<img src={$bookinfo.image} alt="图片不存在">
        <h4 class="weui-media-box__title">剩余数目：{$bookinfo.available_number}</h4>
        <p class="weui-media-box__desc">ISBN：{$bookinfo.ISBN}</p>
        <p class="weui-media-box__desc">总结：{$bookinfo.summary}</p>       
        <volist name="storeinfo" id="sinfo">
            <p class="weui-media-box__desc">
                状态：{$sinfo.status} 书号：{$sinfo.booknumber} 条形码：{$sinfo.barcode} 位置：{$sinfo.place} 年份：{$sinfo.year}
            </p>
        </volist>
    </div>
</body>

</html>
