<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <title>{$title}</title>
    <load href="/Public/css/vendor.css" />
    <load href="/Public/css/main.css" />
    <block name="css"></block>
</head>

<body>
    <block name="content"></block>
    <load href="/Public/js/vendor.js" />
    <block name="script"></block> 
</body>

</html>